RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|js|css|webp|woff|woff2|svg)$">
        Header set Cache-Control "max-age=31536000"
    </FilesMatch>
</IfModule>